<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.dsu2021.pj.domain.room.repository.RoomMapper">

	<resultMap type="com.dsu2021.pj.domain.room.dto.RoomDTO$RoomRes" id="roomResult">
		<id property="roomIndex" column="room_index"></id>
		<result property="userIndex" column="user_index"></result>
		<result property="addressIndex" column="address_index"></result>
		<result property="categoryIndex" column="category_index"></result>
		<result property="name" column="name"></result>
		<result property="price" column="price"></result>
		<result property="cleanPrice" column="clean_price"></result>
		<result property="maxPerson" column="max_person"></result>
		<result property="content" column="content"></result>
	</resultMap>

		<select id="search15Rooms" resultMap="roomResult">
			SELECT *
			FROM room 
			WHERE room_index IN
			(
				SELECT room_index FROM room WHERE
				room.category_index IN (SELECT category_index FROM category WHERE location LIKE '%${req.location}%' AND kind LIKE '%${req.kind}%')
				AND room.address_index IN (SELECT room_address_index FROM room_address WHERE si_do LIKE '%${req.siDo}%' AND si_gun_gu LIKE '%${req.siGunGu}%')
				AND room.room_index IN (SELECT available_date.room_index FROM available_date WHERE date BETWEEN #{req.checkInDate} AND #{req.checkOutDate} GROUP BY room_index HAVING COUNT(room_index) >= ${differenceDay})
				AND room.max_person > ${req.maxPerson}
			)
			ORDER BY room.room_index DESC
			LIMIT ${index},15;
		</select>

        <select id="getRoomByIndex" resultType="com.dsu2021.pj.domain.room.dto.RoomDTO$RoomRes">
			SELECT * FROM room WHERE room_index = #{roomIndex};
		</select>		
		
		
		
		
		

		<select id="get15RoomsByIndex" resultType="com.dsu2021.pj.domain.room.dto.RoomDTO$RoomRes">
			SELECT * FROM room ORDER BY room_index DESC LIMIT ${index},15;
		</select>
</mapper>