<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.dsu2021.pj.domain.room.repository.RoomMapper">

		<select id="filterRoom" resultType="filteredRoom">
SELECT 
room.room_index roomIndex,
room.name name,
room.max_person maxPerson,
facility.bed bed,
facility.bath bath,
facility.tv tv,
facility.hair_dryer hairDryer,
facility.fire_extinguisher fireExtinguisher,
facility.refrigerator refrigerator,
facility.microwave microwave,
facility.cookware cookware,
facility.park park,
facility.aircon aircon,
facility.kitchen kitchen,
facility.wifi wifi,
facility.washing_machine washingMachine,
category.location location,
category.kind kind
FROM room INNER JOIN facility ON room.room_index = facility.room_index INNER JOIN category ON room.category_index = category.category_index
WHERE room.room_index IN
(
SELECT room_index FROM room WHERE
room.address_index IN (SELECT room_address_index FROM room_address WHERE si_do LIKE '#{si_do}' AND si_gun_gu LIKE '%#{si_gun_gu}%')
AND room.category_index IN (SELECT category_index FROM category WHERE location LIKE '%location%' AND kind LIKE '%kind%')
AND room.max_person LIKE '%#{max_person}%'
)
ORDER BY room.room_index DESC;
		</select>
		
		<select id="filterRoomWithPage" resultType="filteredRoom">
SELECT 
room.room_index roomIndex,
room.name name,
room.max_person maxPerson,
facility.bed bed,
facility.bath bath,
facility.tv tv,
facility.hair_dryer hairDryer,
facility.fire_extinguisher fireExtinguisher,
facility.refrigerator refrigerator,
facility.microwave microwave,
facility.cookware cookware,
facility.park park,
facility.aircon aircon,
facility.kitchen kitchen,
facility.wifi wifi,
facility.washing_machine washingMachine,
category.location location,
category.kind kind
FROM room INNER JOIN facility ON room.room_index = facility.room_index INNER JOIN category ON room.category_index = category.category_index
WHERE room.room_index IN
(
SELECT room_index FROM room WHERE
room.address_index IN (SELECT room_address_index FROM room_address WHERE si_do LIKE '#{si_do}' AND si_gun_gu LIKE '%#{si_gun_gu}%')
AND room.category_index IN (SELECT category_index FROM category WHERE location LIKE '%location%' AND kind LIKE '%kind%')
AND room.max_person LIKE '%#{max_person}%'
)
ORDER BY room.room_index DESC
LIMIT #{page},10;
		</select>
		
		<select id="searchImagesByString" resultType="roomImagePath">
			SELECT room_index roomIndex, image_number imageNumber, image_path imagePath 
			FROM room_image_path 
			WHERE room_index IN (#{indexes})
			ORDER BY room_index DESC, image_number;
		</select>
		
		<select id="getReviewStatisticByRoomIndex" resultType="reviewStatistic">
			SELECT AVG(star_rating) starRating, COUNT(star_rating) count 
			FROM (SELECT * FROM review WHERE room_index = #{index}) a;
		</select>
		
		<select id="isWishListedByRoomId" resultType="boolean">
			
		</select>
		
		
		
		
		
		
	

        <select id="selectAllRooms" resultType="room">
        	SELECT *
        	FROM room
        </select>
        
        <select id="selectRoomByRoomIndex" resultType="room">
        	SELECT *
        	FROM room
        	WHERE room_index in (#{roomIndex}) 
        </select>
        
        <select id="selectRoomsByUserIndex" resultType="room">
        	SELECT *
        	FROM room
        	WHERE user_index = #{userIndex}
        </select>
        
</mapper>