<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.dsu2021.pj.domain.reservation.repository.ReservationMapper">

	<resultMap 
		type="com.dsu2021.pj.domain.reservation.dto.ReservationDTO$ReservationRes" id="reservationResult">
		<id property="reservationindex" column="reservation_index"></id>
		<result property="userIndex" column="user_index"></result>
		<result property="roomIndex" column="room_index"></result>
		<result property="reservationState" column="reservation_state"></result>
		<result property="reservationPrice" column="reservation_price"></result>
		<result property="checkinDate" column="check_in_date"></result>
		<result property="checkoutDate" column="check_out_date"></result>
		<result property="reservationDate" column="reservation_date"></result>
	</resultMap>
	
	<select id ="getReservationByIndex" resultMap="reservationResult">
		
	</select>
	

</mapper>