<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.dsu2021.pj.domain.review.repository.ReviewMapper">

	<!-- SELECT -->

	<resultMap
		type="com.dsu2021.pj.domain.review.dto.ReviewDTO$ReviewRes" id="reviewResult">
		<id property="roomIndex" column="room_index"></id>
		<id property="userIndex" column="user_index"></id>
		<result property="content" column="content"></result>
		<result property="starRating" column="star_rating"></result>
		<result property="registerDate" column="register_date"></result>
	</resultMap>
	
	<select id ="getReviewsByRoomIndex" resultMap="reviewResult">
		SELECT * FROM review WHERE room_index = #{roomIndex};
	</select>
	
	<select id ="getReviewsByUserIndex" resultMap="reviewResult">
		SELECT * FROM review WHERE user_index = #{userIndex};
	</select>
	
	<!-- INSERT -->
	
	<insert id = "insertReview">
		
	</insert>

</mapper>