<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.dsu2021.pj.domain.room.repository.RoomMapper">

	<!-- SELECT -->

	<resultMap type="com.dsu2021.pj.domain.room.dto.RoomDTO$RoomRes" id="roomResult">
		<id property="roomIndex" column="room_index"></id>
		<result property="userIndex" column="user_index"></result>
		<result property="addressIndex" column="address_index"></result>
		<result property="categoryIndex" column="category_index"></result>
		<result property="name" column="name"></result>
		<result property="price" column="price"></result>
		<result property="cleanPrice" column="clean_price"></result>
		<result property="maxPerson" column="max_person"></result>
		<result property="content" column="content"></result>
	</resultMap>

		<select id="search15Rooms" resultMap="roomResult">
			SELECT *
			FROM room 
			WHERE room_index IN
			(
				SELECT room_index FROM room WHERE
				room.category_index IN (SELECT category_index FROM category WHERE location LIKE '%${req.location}%' AND kind LIKE '%${req.kind}%')
				AND room.address_index IN (SELECT room_address_index FROM room_address WHERE si_do LIKE '%${req.siDo}%' AND si_gun_gu LIKE '%${req.siGunGu}%')
				AND room.room_index IN (SELECT available_date.room_index FROM available_date WHERE date BETWEEN #{req.checkInDate} AND #{req.checkOutDate} GROUP BY room_index HAVING COUNT(room_index) >= ${differenceDay})
				AND room.max_person > ${req.maxPerson}
			)
			ORDER BY room.room_index DESC
			LIMIT ${index},15;
		</select>

        <select id="getRoomByIndex" resultMap="roomResult">
			SELECT * FROM room WHERE room_index = #{roomIndex};
		</select>		

		<select id="get15RoomsFromIndex" resultType="com.dsu2021.pj.domain.room.dto.RoomDTO$RoomRes"> <!-- 이걸 사용하는 곳이 아직 없음 -->
			SELECT * FROM room ORDER BY room_index DESC LIMIT ${index},15;
		</select>
	
	<select id = "getRoomAddressIndex" resultType="Long">
		SELECT room_address_index FROM room_address WHERE
		si_do = #{siDo} AND
		si_gun_gu = #{siGunGu} AND
		eup_myeon_dong = #{eupMyeonDong} AND
		road_name = #{roadName} AND
		detail_address = #{detailAddress};
	</select>
	
	<select id = "getRoomCategoryIndex" resultType="Long">
 		SELECT category_index FROM category WHERE
		location = #{location} AND
		kind = #{kind};
	</select>
	
	<select id = "getRoomIndex" resultType="Long">
 		SELECT room_index FROM room WHERE
		address_index = #{addressIndex} AND
		category_index = #{categoryIndex} AND
		user_index = #{userIndex} AND
		name = #{name} AND
		price = #{price} AND
		clean_price = #{cleanPrice} AND
		max_person = #{maxPerson} AND
		content = #{content}
		ORDER BY room_index DESC LIMIT 0,1;
	</select>
	
	<select id = "getAvailableDatesByRoomIndex" resultType="Date">
		SELECT date FROM available_date WHERE room_index = #{roomIndex} ORDER BY date ASC;
	</select>
	
	<select id = "getInformationByRoomIndex" resultType="com.dsu2021.pj.domain.room.dto.RoomDTO$RoomInformationRes">
		SELECT room_index roomIndex, self_check_in selfCheckIn, common_solo commonSolo FROM information WHERE room_index = #{roomIndex};
	</select>
	
	<select id = "getFacilityByRoomIndex" resultType="com.dsu2021.pj.domain.room.dto.RoomDTO$RoomFacilityRes">
		SELECT room_index roomIndex, bed, bath,tv, hair_dryer hairDryer,fire_extinguisher fireExtinguisher, refrigerator, microwave, cookware,park,aircon,kitchen,wifi,washing_machine washingMachine FROM facility WHERE room_index = #{roomIndex};
	</select>
	
	<select id = "getAddressByRoomAddressIndex" resultType="com.dsu2021.pj.domain.room.dto.RoomDTO$RoomAddressRes">
		SELECT room_address_index roomAddressIndex, si_do siDo, si_gun_gu siGunGu, eup_myeon_dong eupMyeonDong, road_name roadName, detail_address detailAddress FROM room_address WHERE room_address_index = #{roomAddressIndex};
	</select>
	
	<select id = "getCategoryByCategoryIndex" resultType="com.dsu2021.pj.domain.room.dto.RoomDTO$RoomCategoryRes">
		SELECT category_index categoryIndex, location, kind FROM category WHERE category_index = #{categoryIndex};
	</select>
	
		<!-- INSERT -->
		
	<insert id = "insertAddress">
		INSERT INTO room_address (si_do,si_gun_gu,eup_myeon_dong,road_name,detail_address)
		VALUES (#{siDo},#{siGunGu},#{eupMyeonDong},#{roadName},#{detailAddress});
	</insert>
	
	<insert id = "insertCategory">
		INSERT INTO category (location,kind) VALUES (#{location},#{kind});
	</insert>
	
	<insert id = "insertRoom">
		INSERT INTO room 
		(room_index,address_index,category_index,user_index,name,price,clean_price,max_person,content) 
		VALUES (#{roomIndex},#{addressIndex},#{categoryIndex},#{userIndex},#{name},#{price},#{cleanPrice},#{maxPerson},#{content});
	</insert>
	
	<insert id = "insertRoomImagePath">
		INSERT INTO room_image_path VALUES (#{roomIndex},#{imageNumber},#{imagePath});
	</insert>
	
	<insert id = "insertFacility">
		INSERT INTO facility (room_index,bed,bath,tv,hair_dryer,fire_extinguisher,refrigerator,microwave,cookware,park,aircon,kitchen,wifi,washing_machine)
		VALUES (#{roomIndex},#{bed},#{bath},#{tv},#{hairDryer},#{fireExtinguisher},#{refrigerator},#{microwave},#{cookware},#{park},#{aircon},#{kitchen},#{wifi},#{washingMachine});
	</insert>
	
	<insert id = "insertInformation">
		INSERT INTO information (room_index,self_check_in,common_solo) VALUES (#{roomIndex},#{selfCheckIn},#{commonSolo});
	</insert>
	
	<insert id = "insertAvailableDate">
		INSERT INTO available_date (room_index,date) VALUES (#{roomIndex},#{date});
	</insert>

</mapper>