<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.dsu2021.pj.domain.wishlist.repository.WishlistMapper">
	
	<select id="getWishlistsByUserIndex" resultType="com.dsu2021.pj.domain.wishlist.dto.WishlistDTO$WishlistRes">
		SELECT room_index roomIndex, user_index userIndex, wishlist_name wishlistName FROM wishlist WHERE user_index = #{userIndex};
	</select>
	
	<select id="getWishlistsByUserIndexAndWishlistName" resultType="com.dsu2021.pj.domain.wishlist.dto.WishlistDTO$WishlistRes">
		SELECT room_index roomIndex, user_index userIndex, wishlist_name wishlistName FROM wishlist WHERE user_index = #{userIndex} AND wishlist_name = #{wishlistName};
	</select>
</mapper>